# Folder, SQL data and lyrx file to convert
BASE_PATH ?= "to be defined"
SQL_SCRIPT ?= "to be defined"
LYRX_FILE ?= "to be defined"
export BASE_PATH
export SQL_SCRIPT
export LYRX_FILE

# DB connection for the geodata (from local host)
PG_HOST ?= localhost
PG_PORT ?= 5432
PG_USER ?= postgres
PG_PASSWORD ?= postgres
PG_DATABASE ?= geodata
PG_SCHEMA ?= agis
export PG_HOST
export PG_PORT
export PG_USER
export PG_PASSWORD
export PG_DATABASE
export PG_SCHEMA

# lyrx2sld URL
export LYRX2SLD_URL=http://localhost/v1/lyrx2sld/

# Config for GeoServer workspace and datastore
export GEOSERVER_URL=http://localhost:8080/geoserver/
export GEOSERVER_WORKSPACE=agis
# DB connection (from the GeoServer service)
define DATASTORE_XML
<dataStore>
	<name>postgis</name>
	<connectionParameters>
		<host>db</host>
		<port>$(PG_PORT)</port>
		<database>$(PG_DATABASE)</database>
		<schema>$(PG_SCHEMA)</schema>
		<user>$(PG_USER)</user>
		<passwd>$(PG_PASSWORD)</passwd>
		<dbtype>postgis</dbtype>
	</connectionParameters>
</dataStore>
endef
export DATASTORE_XML
